<!DOCTYPE html>
<html lang="en">
  <%- partial('partials/head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<%- partial('partials/alchemymenu') %>

	<div class="wrapper">
		<%- partial('partials/header') %>
		
		<%- partial('partials/nav') %>

		

		<div id="main">
			<div class="row-fluid">
				<div id="intro-text" class="span12 offset2">
					<h1 class="bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This app documents research into <span class="material">material</span>, <span class="light">light</span>, <span class="architecture">architecture</span>, <span class="fashion">fashion</span>, <span class="tech">technology</span>, <span class="design">design</span> and <span class="women">women</span> for Audi Innovation Research conducted by Therrien–Barley. It uses the proprietary Alchemy.js platform to sort, filter, analyze, re-present and re-mix content uploaded to the cloud, including tumblr <i class="icon-tumblr" style="font-size:24px;"></i>, flickr <i class="icon-flickr" style="font-size:24px;"></i>, twitter <i class="icon-twitter" style="font-size:24px;"></i>, instagram <i class="icon-instagram" style="font-size:24px;"></i> and others.</h1>
				</div>
			</div>
		</div><!-- /#main -->

		<%- partial('partials/footer') %>

		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- partial('partials/scripts') %>
  </body>
</html>


















