<!DOCTYPE html>
<html lang="en">

  <%- partial('head', {title:title}) %>

<body data-spy="scroll" data-target=".subnav" data-offset="50" class="glossaryquotes">

	<div id="overlay">
		<div id="overlay-close" class="bold">Close</div>
		<div id="overlaybg"></div>
		<div id="overlay-quotes" class="row-fluid">
			<div class="post-left span6 offset1">
				<% for(var i in quotes){ %>
					<%- quotes[i] %>
				<% } %>
			</div>
		</div><!-- /#overlay-quotes -->
	</div><!-- /#overlay -->

	<div id="mechanics">
		<div class="image"></div>
		<ul class="menu">
			<li><a href="/alchemy/tumblrposts/sync"><i class="icon-tumblr"></i><br>s<br>y<br>n<br>c</a></li>
			<li><a href="/alchemy/tumblrposts/download"><i class="icon-download-alt"></i><br>.<br>c<br>s<br>v</a></li>
		</ul>
	</div><!-- /#mechanics -->

	<div class="wrapper">
		<header id="header">
			<h6><a href="/alchemy">A.I.R. Trend Analysis<br><span id="powered-by">powered by Alchemy</span></a></h6>
		</header>	
		
		<%- partial('nav') %>

		

		<div id="main" class="row-fluid">
			<div class="span12 offset2 total-posts">
				<h6>Total Terms</h6>
				<div class="number bold"><%= terms.length %></div>
			</div>

			<div class="span12 offset2 terms">
				<% for(var tag in terms){ %>
					<div class="term"><a href="/alchemy/tumblrposts/glossary/quotes/quote/<%= terms[ tag ].tag.replace(/ /g,"-") %>" target="_blank"><%= terms[ tag ].tag %></a></div>
				<% } %>
			</div>
		</div><!-- /#main -->

		<footer id="footer" class="row-fluid">
			<div class="span6">
				© 2013 Therrien-Barley, all rights reserved<br>
				<a href="mailto:info@th-ey.co">info@th-ey.co</a>
			</div>
		</footer>

		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/elusive-webfont.css">
	<script src="/javascripts/select2.min.js"></script>
	<script src="/javascripts/alchemy.js"></script>

	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29830549-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>


















