<!DOCTYPE html>
<html lang="en">
  <%- partial('head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50" class="categoriesio">

	<div id="mechanics">
		<div class="image"></div>
		<ul class="menu">
			<li><a href="/alchemy/tumblrposts/sync"><i class="icon-tumblr"></i><br>s<br>y<br>n<br>c</a></li>
			<li><a href="/alchemy/tumblrposts/download"><i class="icon-download-alt"></i><br>.<br>c<br>s<br>v</a></li>
		</ul>
	</div><!-- /#mechanics -->
	
	<div class="wrapper">
		<header id="header">
			<h6><a href="/alchemy">A.I.R. Trend Analysis<br><span id="powered-by">powered by Alchemy</span></a></h6>
		</header>		
		
		<%- partial('nav') %>

		

		<div id="main">

			<div id="categories-io" class="row-fluid">
				<div id="categories-io-i" class="span4 offset2">
					<% var i = 1; %>
					<% for(var tag in elements){ %>
						<% if(elements[tag] != undefined){ %>
							<div class="categories-io-item">
								<h6><%= tag %></h6>
								<div class="<%= tag %> categories-io-value bold" style="color:<%= colors[i++] %>;"><%= Math.floor(elements[tag].length/total_posts * 100) %>%</div>
							</div>
						<% } %>
					<% } %>
				
				</div><!-- /.categories-io-i -->

				<div id="categories-io-o" class="span10">
					<div id="chart">
						<div id="total-posts-in-chart">
							<% if(typeof(total_posts) != undefined){ %>
								<h6>Total Posts</h6>
								<%= total_posts %>
							<% } %>
						</div>
					</div>
				</div>
			</div><!-- /.categories-io -->
		</div><!-- /#main -->

		<footer id="footer" class="row-fluid">
			<div class="span6">
				© 2013 Therrien-Barley, all rights reserved<br>
				<a href="mailto:info@th-ey.co">info@th-ey.co</a>
			</div>
		</footer>
		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/select2.min.js"></script>
	<script type="text/javascript" src="http://mbostock.github.com/d3/d3.js?2.4.6"></script>
	<script src='http://mbostock.github.com/d3/d3.layout.js?2.4.6' type='text/javascript'></script>
	<script src="/javascripts/alchemy.js"></script>

	<script>
		var data = [];
		<% for(var i = 0; i < data.length; i++){ %>
			data[<%= i %>] = { name: '<%= data[i].name %>', val: <%= data[i].val %>}; 
		<% } %>

		var colors = [];
		<% for(var i = 0; i < colors.length; i++){ %>
			colors[<%= i %>] = '<%= colors[i] %>'; 
		<% } %>


		var color = function(i){
			return colors[i];
		}
			
		var w = 600,
		    h = 600,
		    r = Math.min(w, h) / 2,
		    donut = d3.layout.pie(),
		    arc = d3.svg.arc().innerRadius(r * .6).outerRadius(r);

	

		var vis = d3.select("#chart")
		  .append("svg:svg")
		    .data([data])
		    .attr("width", w)
		    .attr("height", h);

		var arcs = vis.selectAll("g.arc")
		    .data(donut.value(function(d) { return d.val }))
		  .enter().append("svg:g")
		    .attr("class", "arc")
		    .attr("transform", "translate(" + r + "," + r + ")");

		arcs.append("svg:path")
		    .attr("fill", function(d, i) { 
		    	console.log('color('+i+')');
		    	console.log(color(i));
		    	console.dir(color(i));
		    	return color(i); 
		    })
		    .attr("d", arc);

		
	</script>

	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29830549-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>













