<!DOCTYPE html>
<html lang="en">
  <%- partial('partials/head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<div class="wrapper">
		<%- partial('partials/header') %>
		<%- partial('partials/nav') %>

		<div id="main">
			<div id="homeapi" class="row-fluid">
				<div class="span3 offset2">
					<i id="homeicon" class="icon-home"></i>
				</div>
				<div id="equals" class="span2">
					=
				</div>
				<div id="api" class="span3">
					API
				</div>
			</div>

			<div id="info" class="row-fluid">
				<div class="span3 offset5 info-block">
					<div>Hackathon</div>
					<div>April 27–28</div>
					<div><a href="http://new-habit.at/assets/NewHabitatMap.pdf" target="_blank">NewLab, Navy Yards</a></div>
					<div>Brooklyn, NY</div>
					<br>
					<a href="http://new-habitat.eventbrite.com/" target="_blank">sign up</a><br><br>
					<a href="https://docs.google.com/document/d/1qqC8E-qFDlyhf1wG9d55el5Ub7YbENi9AlFHUSkNdw0/edit?usp=sharing" target="_blank">press release</a>
				</div>
				<div class="span3 info-block">
					<div>Presentation</div>
					<div>May 3</div>
					<div class=""><a href="http://www.ideas-city.org/view/hack-city" target="_blank">Ideas City Festival</a>*</div>
					<div>The Old School in Nolita</div>
					<br>
					<div>*Hosted by the New Museum, The Architectural League of New York, Bowery Poetry Club, Cooper Union, The Drawing Center, NYU Wagner &amp; Storefront for Art and Architecture</div>
				</div>
			</div><!--/#info-->

		</div><!--/#main-->

		<%- partial('partials/footer') %>
	</div><!-- /#wrapper -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- partial('partials/scripts') %>
  </body>
</html>


















