<!DOCTYPE html>
<html lang="en">
  <%- partial('partials/head', {title:title}) %>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<%- partial('partials/alchemymenu') %>

	<div class="wrapper">
		<%- partial('partials/header', { user: user }) %>


		<div id="nav" class="row-fluid">
				<div class="login-container span2 offset7">
					<div href="/login" class="login bttn">Login</div>
				</div>
		</div>
		<div id="main">
			<div class="row-fluid">
				<div id="intro-text" class="span12 offset2">
					<h1 class="bold">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We design the workflows and infrastructures of our work as much as the work itself. For our research, we have built an insight engine called Alchemy that collects information from various sources, including tumblr <i class="icon-tumblr" style="font-size:24px;"></i>, flickr <i class="icon-flickr" style="font-size:24px;"></i>, twitter <i class="icon-twitter" style="font-size:24px;"></i> and instagram <i class="icon-instagram" style="font-size:24px;"></i> into a rich environment for sorting, searching, filtering, annotating and ultimately synthesizing. Clients and collaborators can log in above.</h1>
				</div>
			</div>
		</div><!-- /#main -->

		<%- partial('partials/footer') %>

		
	</div><!-- /#wrapper -->



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%- partial('partials/scripts') %>
  </body>
</html>


















