<div id="nav" class="row-fluid bold">
	<% if(typeof user !== 'undefined'){ %>
		<% if(typeof inquiry !== 'undefined'){ %>
			<div id="inquiry-nav" class="span4 offset6 nav">
				<ul class="menu">
					<li class="menu-option selected inquiry-<%= inquiry.title %>" value="inquiry-<%= inquiry.title %>"><a><%= inquiry.title %></a></li>
					<% for(var i = 0; i < inquiries.length; i++){ %>
						<li class="menu-option inquiry-<%= inquiries[i].title %>" value="inquiry-<%= inquiries[i].title %>"><a><%= inquiries[i].title %></a></li>
					<% } %>
				</ul>
				<i class="icon-caret-down"></i>
			</div>
			<div id="user-nav" class="span4 offset2 nav">
				<ul class="menu">
					<li class="menu-header"><%= user.name %></li>
					<li class="menu-option user-collections" value="user-collections"><a href="/insights/collections">Collections</a></li>
					<li class="menu-option user-account" value="user-account"><a href="/insights/user/<%= user.id %>">My Account</a></li>
					<% if(user.role == 'admin'){ %><li class="menu-option user-users" value="user-users"><a href="/insights/users">Users</a></li><% } %>
					<% if(user.role == 'admin'){ %><li class="menu-option user-admin" value="user-admin"><a href="/insights/admin">Admin</a></li><% } %>
					<li class="menu-option user-logout" value="user-logout"><a href="/logout">Logout</a></li>
				</ul>
				<i class="icon-caret-down"></i>
			</div>
		<% }else{ %>
			<div id="user-nav" class="span4 offset12 nav">
				<ul class="menu">
					<li class="menu-header"><%= user.name %></li>
					<li class="menu-option user-collections" value="user-collections"><a href="/insights/collections">Collections</a></li>
					<li class="menu-option user-account" value="user-account"><a href="/insights/user/<%= user.id %>">My Account</a></li>
					<% if(user.role == 'admin'){ %><li class="menu-option user-users" value="user-users"><a href="/insights/users">Users</a></li><% } %>
					<% if(user.role == 'admin'){ %><li class="menu-option user-admin" value="user-admin"><a href="/insights/admin">Admin</a></li><% } %>
					<li class="menu-option user-logout" value="user-logout"><a href="/logout">Logout</a></li>
				</ul>
				<i class="icon-caret-down"></i>
			</div>
		<% } %>
	<% }else{ %>
		<div id="user-nav" class="nav span4 offset12">
			<ul class="menu">
				<li class="menu-option selected"><a href="/login">Login</a></li>
			</ul>
		</div>
	<% } %>

	
</div><!-- /#nav -->